/* 1. General */
@import url(https://fonts.googleapis.com/css?family=Tinos&subset=latin,cyrillic);

html, body {
    height: 100%;
    margin-top: 5px;
}

body {
    font-family: 'Tinos';
    margin: auto;
    background-color: #fff;
    color: #333;
}

img {
    max-width: 100%;
}

a {
    outline: 0 !important;
    color: #5b9bbc;
}

a:hover {
    text-decoration: none;
}

a img {
    border: 0;
    border-radius: 10px;
}

ul {
    list-style: none;
}

/* Table */
table {
    border: 0;
}

td, th {
    padding: 5px;
    vertical-align: top;
}

/* Layout */

#container {
    /*background: #FFFFFF;*/
    margin: 10px auto;
    width: 90%;
    height: 600px;
}

#top {
    /*background: #02834b;*/
    height: 30px;
    /*width: 90%;*/
}

#logo {
    margin-left: -30px;
    margin-top: -35px;
    float: left;
    padding: 0;
}

#name {
    text-align: center;
}

#header {
    background: #6BA085;
    height: 80px;
    /*width: 900px;*/
    padding: 20px;
    text-align: center;
    color: #fff;
}

#space {
    background: #D2D3DA;
    /*width: 900px;*/
    height: 20px;
    /*padding: 40px 5px 5px 20%;*/
}

#menu {
    /*background: #333333;*/
    float: left;
    width: 17%;
    height: 400px;
    padding-top: 25px;
    padding-bottom: 20px;
    margin-left: 5px;
}

#navigation {
    /*background: #d2d0d2;*/
    float: right;
    padding-top: 0;
    margin-right: 10px;
    width: 77%;
    /*height: 600px;*/
}

#content {
    /*background: #d2d0d2;*/
    float: right;
    padding-top: 10px;
    padding-bottom: 20px;
    margin-right: 10px;
    width: 77%;
    /*height: 600px;*/
}

#clear {
    clear:both;
}

#footer {
    background: #17311F;
    height: 100px;
    /*width: 900px;*/
    padding: 5px;
    text-align: center;
    color: #fff;
}

/* Login */

#login {
    margin: 150px auto;
    width: 280px;
}

#login > p {
    text-align: center;
}

/*!* Header *!
#styleTop {
    padding: 5px;
}

!* Header *!
#styleHeader {
    background-color: #6BA085;
    padding: 18px;
    text-align: center;
    color: #fff;
}

!* Menu *!
#styleMenu {
    padding-top: 10px;
}

!* Body *!
#styleBody {
    padding-right: 15px;
}*/

/* Footer */

/*footer {
    background-color: #17311F;
    padding: 5px;
    text-align: center;
    color: #fff;
}

footer a {
    color: gold;
}*/
