/* 1. General */
/*@import url(https://fonts.googleapis.com/css?family=Tinos&subset=latin,cyrillic);*/

html, body {
    height: 100%;
    /*margin-top: 5px;*/
}

body {
    font-family: 'Tinos', serif;
    margin: auto;
    background-color: #fff;
    color: #333;
}

img {
    max-width: 100%;
}

a {
    outline: 0 !important;
    color: #5b9bbc;
}

a:hover {
    text-decoration: none;
}

a img {
    border: 0;
    border-radius: 10px;
}

ul {
    list-style: none;
}

/* Table */
table {
    border-collapse: collapse;
    /*border: 1px;*/
}

td, th {
    padding: 5px;
    vertical-align: top;
    border-bottom: 1px solid #ddd;
}

/* Layout */

#container {
    background: #fff;
    margin: 7px auto;
    width: 90%;
    height: auto;
    /*box-shadow: 0px 0px 2px #888888;*/
}

#top {
    /*background: #02834b;*/
    height: 30px;
    /*width: 90%;*/
    padding-top: 10px;
}

#logo {
    margin-left: -30px;
    margin-top: -35px;
    float: left;
    padding: 0;
}

#name {
    text-align: center;
}

#header {
    background: #6BA085;
    height: 80px;
    /*width: 900px;*/
    padding: 20px;
    text-align: center;
    color: #fff;
}

#space {
    background: #D2D3DA;
    /*width: 900px;*/
    height: 20px;
    /*padding: 40px 5px 5px 20%;*/
}

#menu {
    /*background: #333333;*/
    float: left;
    width: 19%;
    height: 400px;
    padding-top: 25px;
    padding-bottom: 20px;
    padding-left: 10px;
}

#navigation {
    /*background: #d2d0d2;*/
    float: right;
    padding-top: 0;
    margin-right: 10px;
    width: 75%;
    /*height: 600px;*/
}

#content {
    /*background: #d2d0d2;*/
    float: right;
    padding-top: 10px;
    padding-bottom: 20px;
    margin-right: 10px;
    width: 75%;
    /*height: 600px;*/
}

#clear {
    clear: both;
}

#footer {
    background: #17311F;
    height: 100px;
    /*width: 900px;*/
    padding: 5px;
    text-align: center;
    color: #fff;
}

/* Login */

#login {
    margin: 150px auto;
    width: 280px;
}

#login > p {
    text-align: center;
}


/* Cocktail Images */

.cocktail {
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    height: 160px;
}

.cocktail:hover {
    box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
}

.cocktail_image {
    /*border: 1px solid #ddd;*/
    border-radius: 4px;
    padding: 5px;
    width: 150px;
    height: 150px;
    float: left;
}

/*
.cocktail_image:hover {
    box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
}*/


/* Style the tab */
div.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
}

/* Style the buttons inside the tab */
div.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
}

/* Change background color of buttons on hover */
div.tab button:hover {
    background-color: #ddd;
}

/* Create an active/current tablink class */
div.tab button.active {
    background-color: #00aff1;
}

/* Style the tab content */
.tabcontent {
    display: none;
    padding: 30px 12px;
    border: 1px solid #ccc;
    border-top: none;
    /*-webkit-animation: fadeEffect 1s;
    animation: fadeEffect 1s; !* Fading effect takes 1 second *!*/
}

/*
@-webkit-keyframes fadeEffect {
    from {opacity: 0;}
    to {opacity: 1;}
}

@keyframes fadeEffect {
    from {opacity: 0;}
    to {opacity: 1;}
}*/
