/* 1. General */
@import url(https://fonts.googleapis.com/css?family=Tinos&subset=latin,cyrillic);

html, body {
    height: 100%;
    margin-top: 5px;
}

body {
    font-family: 'Tinos';
    margin: auto;
    background-color: #fff;
    color: #333;
}

img {
    max-width: 100%;
}

a {
    outline: 0 !important;
    color: #5b9bbc;
    /*color: #7a9491;*/
}

a:hover {
    text-decoration: none;
}

a img {
    border: 0;
    border-radius: 10px;
}

ul {
    list-style: none;
}

/* Table */
table {
    border: 0;
}

td, th {
    padding: 5px;
    vertical-align: top;
}

/* Login */

#login {
    margin: 150px auto;
    width: 280px;
}

#login > p {
    text-align: center;
}

/* Header */
#styleTop {
    padding: 5px;
}

/* Header */
#styleHeader {
    background-color: #6BA085;
    padding: 18px;
    text-align: center;
    color: #fff;
}

/* Menu */
#styleMenu {
    padding-top: 10px;
}

/* Body */
#styleBody {
    padding-right: 15px;
}

/* Footer */

footer {
    background-color: #17311F;
    padding: 5px;
    text-align: center;
    color: #fff;
}

footer a {
    color: gold;
}
